@{
    ViewData["Title"] = "Home Page";
}

<div id="quoteBox" class="container quoteFrame">
    <div class="quote">
        <p>
            <i class="fa fa-quote-left"></i>
            <span id="quoteText">Problems worthy of attack prove their worth by fighting back.</span>
        </p>
        <footer class="blockquote-footer"><span id="quoteAuthor">Someone Famous</span></footer>
    </div>
    <div class="buttons">
        <button id="getNewQuote" class="btn btn-primary" style="float:right;">
            <span class="text">Get New quote</span>
            <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        </button>
    </div>
</div>

